<h1>Edit karyawan</h1>
<hr>

<% if (req.query.error_msg) { %>
    <h3><%=req.query.error_msg%></h3>
<% } %>

<form action="/karyawan/proses_update" method="post">
<div style="margin-bottom: 10px;">
    <label for="">Nama</label>
    <input type="text" name="form_nama" value="<%=profile_karyawan[0].nama%>">
</div>

<div style="margin-top: 10px;">
    <label for="">Tanggal Lahir</label>
    <input type="date" name="form_tanggal_lahir" value="<%=moment(profile_karyawan[0].tanggal_lahir).format(`YYYY-MM-DD`)%>">
</div>

<div style="margin-top: 10px;">
    <label for="">Jenis kelamin</label>
    <select name="form_gender">
        <option value="">--pilih--</option>
        <option value="L" <%= (profile_karyawan[0].jenis_kelamin == `L`) ? `selected` :``%>>Laki</option>
        <option value="P" <%= (profile_karyawan[0].jenis_kelamin == `P`) ? `selected` :``%>>Perempuan</option>
    </select>
</div>

<div style="margin-bottom: 10px;">
    <label for="" style="vertical-align: top;">Alamat</label>
    <textarea name="form_alamat"><%= profile_karyawan[0].alamat %></textarea>
</div>

<div style="margin-top: 10px;">
    <label for="">Agama</label>
    <select name="form_agama">
        <option value="" selected>--pilih--</option>
        <% for( let i = 0; i < agama.length; i++ ) { %>
            <option value="<%= agama[i].id %>" <%= (profile_karyawan[0].agama_id == agama[i].id) ? `selected`: ``%>><%= agama[i].nama %></option>
        <% } %>
    </select>
</div>

<br>
<button type="submit">update</button>
</form>